.card {
  width: 350px;
  background-color: #bba68f;
  padding-bottom: 10px;
  font-family: sans-serif;
  box-shadow: 0 0 10px;
  border-radius: 3px;
}

.card-content {
  padding: 6px;
}
img {
  width: 100%;
}

a {
  color: #1c150e;
  transition: all 0.4s;
}

a:hover {
  color: #e8e1da;
}
